---
title: EXOS Journey - Terms and Conditions of Use
---
<div class="row">
    <div class="large-12 columns">

        <p>
            The English text is displayed first, followed by the Japanese text.  Please scroll down to review the Japanese version.
        </p>

        <p>
            英語での記載がが先にあり、その後日本語での記載がございます。日本語バージョンはスクロールしてご覧ください。
        </p>

        <hr>

        <h2>EXOS Journey - Terms and Conditions of Use</h2>

        <h2>Japan</h2>

        <p>
            <strong>Release Date: April 1, 2016</strong>
        </p>

        <p>
            Athletes’ Performance, Inc., d.b.a. “EXOS”, owns and maintains EXOS Journey and other web applications as a service to its customers. EXOS may also provide EXOS Journey to any of its affiliates to license to their customers’ eligible populations.
        </p>

        <p>
            Our Privacy Policy is located at (<a href="http://legal.athletesperformance.com/privacy-policy/ibmjapan/JP.html">http://legal.athletesperformance.com/privacy-policy/ibmjapan/JP.html</a>) and will inform you of the personal information we collect and how we use that data.
        </p>

        <p>
            <strong>PLEASE READ THESE TERMS CAREFULLY AND COMPLETELY, AS THEY SET FORTH YOUR RIGHTS AND OBLIGATIONS WITH RESPECT TO YOUR USE OF EXOS JOURNEY.</strong>
        </p>

        <p>
            EXOS Journey is only available to those deemed eligible (see Eligibility to use EXOS Journey) to create and maintain an EXOS Journey account.  By accessing, using and/or creating an account in EXOS Journey you are expressly agreeing to comply with and be bound by the following Terms and Conditions of Use (hereinafter, “Terms”) as they currently appear on this site, including all future revisions, as well as all applicable laws and regulations.
        </p>

        <p>
            <strong>NOTICE OF TRANSFER OF PERSONAL DATA TO THE UNITED STATES</strong>
        </p>

        <p>
            By accepting these Terms, You also understand that this web application is hosted in the United States and you voluntarily grant your explicit consent for EXOS or their affiliate to transfer and store your Personal Data to/in the United States at Amazon Web Services LLC.  If you do not agree to this Transfer, you may not use EXOS Journey.  Amazon Web Services will not have access to your Personal Data.
        </p>

        <p>
            <strong>NOTICE OF TRANSFER OF PERSONAL DATA TO THIRD PARTIES</strong>
        </p>

        <p>
            By using EXOS Journey <strong>you acknowledge and accept</strong> the following related to third party access to your Personal Data within EXOS Journey:
        </p>

        <ol>
            <li>
                A subsidiary of Athletes’ Performance, Inc. called CP International, LLC (“CPI”) will manage the fitness center.  CPI Staff assigned to your fitness center will have access to your personal information within EXOS Journey to provide you with the Services you request and support your EXOS Journey experience. CPI Staff are required to treat this information as confidential and in compliance with the Privacy Policy.
            </li>
            <li>
                As part of providing services that include EXOS Journey at this fitness center, CPI contracts directly with ASPO.  Authorized ASPO staff who are assigned to this fitness center may have access to your Personal Data that is stored in EXOS Journey in order to provide you with the Services you have requested and support your EXOS Journey experience.  ASPO Staff are required to treat this information as confidential and in compliance with the Privacy Policy.
            </li>
        </ol>

        <p>
            <u><strong>Eligibility to Use EXOS Journey</strong></u>
        </p>

        <p>
            In order to register an account with EXOS Journey, you must agree to these Terms AND:
        </p>

        <ol type="A">

            <li>be at least 18 years of age use and create an account on EXOS Journey; or where permitted, be at least 16 years of age and have your parent(s) or guardian(s) permission to do so; AND</li>

            <li>provide true, accurate, current and complete information when you register with the EXOS Journey; and maintain and promptly update your profile contact information to keep it true, accurate and complete; AND</li>

            <li>

                be deemed eligible:

                <ol type="a">

                    <li>by your employer or organization that you are associated with and that subsidizes EXOS Journey in full or part; OR</li>

                    <li>by EXOS or one of their respective affiliates; OR</li>

                    <li>purchase and maintain a current subscription to EXOS Journey (only at limited EXOS managed facilities where this option is available).</li>

                </ol>

            </li>

        </ol>

        <p>
            Should you no longer be eligible to use EXOS Journey, you must immediately notify a CPI or ASPO staff member at the fitness center and immediately cease using this Service.  Your account may be deactivated upon becoming ineligible to use EXOS Journey.  If at any time you do not agree with these current Terms, you are no longer authorized to continue use of EXOS Journey and may not have access certain privileges or benefits that may be offered through or as part of this Service, and must request to Opt Out of Journey (as described below).
        </p>

        <p>
            <strong><u>How to Opt-Out of EXOS Journey</u></strong>
        </p>

        <p>
            To opt out of Journey, please contact an EXOS staff member at your facility or contact <a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>.
        </p>

        <p>
            <strong><u>Revisions and Updates to the Terms</u></strong>
        </p>

        <p>
            EXOS may revise these Terms at any time. Should we make a material change to these Terms we will attempt to notify you via the Fitness Center (if applicable), EXOS Journey, and/or email regarding the changes we will implement to the Terms.  You will have fourteen (14) days following this time to object to the pending Terms and Opt-Out (using the Opt-Out procedure described previously).  Should you not object to the new Terms during that time, the new Terms will automatically apply to you and the previous Terms will no longer be in effect. Please check these Terms from time to time in order to take notice of any changes that are made to these Terms, as they are binding on you once they are in effect.
        </p>

        <p>
            <strong><u>End User Data License and Aggregated End User Data License</u></strong>
        </p>

        <p>
            You grant to EXOS: (i) a non-exclusive, irrevocable, enterprise-wide, fully sub-licensable, royalty-free, worldwide license to access, use, and disclose your Personal Information as described in these Terms and only in the event solely in connection with our performance of the Services that you have requested from us (the “End User Data License”); and (ii) a non-exclusive, irrevocable, enterprise-wide, fully sub-licensable, royalty-free, worldwide license to access, use, and disclose aggregate and anonymous data comprised of deidentified data (that cannot be identified back to you) during the term of our Agreement with the organization deeming you eligible to use Journey or where applicable at certain locations-- your paid subscription to Journey; and in perpetuity thereafter (the “Aggregated End User Data License”) subject to the following: such Aggregated End User Data License does not include data made available to us after you have revoked your End User Data License through the Opt-Out Method set forth in these Terms and the Privacy Policy.  If you revoke the End User Data License, EXOS will deidentify your Personal Information so that it becomes Aggregated End User Data and your End User Data License with EXOS will be automatically terminated.  Upon termination of the End User Data License, EXOS may also retain your first and last name and date/time that you registered to use the Program (“Registration Information”) and agrees to use such Registration Information solely to resolve and legal or administrative dispute related to you the end user. Upon revocation, ASPO and CPI will not have access to your Personal Data but may still have access to Aggregate End User Data as identified above.
        </p>

        <p>

            <strong><u>Copyright and Trademark</u></strong>

            <ol>

                <li><strong><em>Ownership.</em></strong> All content included on EXOS Journey such as text, graphics, logos, button icons, images, audio and visual clips and applications or software, is the property of EXOS or its content suppliers and is protected by U.S. and International copyright and trademark law. “EXOS” and “Journey” are trademarks of EXOS.  The compilation (meaning the collection, arrangement and assembly) of all content on EXOS Journey is the exclusive property of EXOS and protected by U.S. and International copyright law. All software used on EXOS Journey is the property of EXOS or its software suppliers and is protected by U.S. and International copyright laws.</li>

                <li><strong><em>Permitted Use.</em></strong>The benefits associated with EXOS Journey are available only to those designated as eligible. Content and software on EXOS Journey may be used as an information resource. In addition, EXOS hereby authorizes you to view, copy, download, and print the information provided for personal use only. Such personal use is subject to the following conditions: (i) content may be used only for non-commercial, informational purposes and may not be posted or distributed, (ii) the content may not be modified, and (iii) copyright, trademark and other proprietary notices may not be removed. Except as expressly stated in these Terms of Use or as otherwise specifically authorized by EXOS, you may not duplicate, download, publish, modify or otherwise distribute (including through the use of frames or deep links or other services designed to republish content on the Internet) the material on EXOS Journey. Furthermore, you may not copy, reproduce or distribute the design or layout of EXOS Journey, the logos or trademarks belonging to EXOS, or other design elements or software. Any unauthorized use of EXOS Journey and EXOS Journey content not described herein is strictly prohibited.</li>

            </ol>

        </p>

        <p>
            <strong>User Submissions and Content</strong>
        </p>

        <p>
            EXOS may now, or in the future, provide interactive areas within EXOS Journey, in which users may post or submit communications to other users, including but not limited to ratings and comments that may be republished or visible to other users of this service, or the general public. By submitting content, which shall include your member name, to any "interactive area" of EXOS Journey you grant EXOS a royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, communicate to the public, perform and display the content (in whole or in part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed, for the full term of any rights that may exist in such content.
        </p>

        <p>
            You also permit any subscriber to access, display, view, store and reproduce such content for personal use. You alone are responsible for the content of your communications, and the consequences of any such communications. In consideration of being allowed to use EXOS Journey, you agree:

            <ol>
                <li>
                    not to use EXOS Journey to send or post any message or material that is unlawful, harassing, libelous, defamatory, abusive, harmful, vulgar, obscene, profane, sexually oriented, threatening, racially offensive, inaccurate, or otherwise objectionable material of any kind or nature or that encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national or international law or regulation, or encourage the use of controlled substances;
                </li>
                <li>
                    not to impersonate any other person or entity, whether actual or fictitious, including impersonating a(n) employee, officer, director, client or contractor of EXOS, CPI, ASPO or any of their respective affiliates; and
                </li>
                <li>
                    not to post or use EXOS Journey to distribute or send any illegal material of any kind, including but not limited to, illegal material in the form of text, photographs, graphics, video, programs or audio.
                </li>
            </ol>
        </p>

        <p>
            Such actions shall constitute a material breach of these Terms. EXOS and CPI reserves the right to delete from EXOS Journey any submission, data elements or content that violates the above terms and where applicable, will cooperate fully with any law enforcement officials and/or agencies in the investigation of any suspected or confirmed violations of law.
        </p>

        <p>
            <strong><u>Account Credentials</u></strong>
        </p>

        <p>
            You are responsible for the security of your own account credentials and agree to use a strong password.  EXOS recommends that you change your password regularly and that you use a password that is not easily guessable.  You agree not to share your account or account credentials.  Should you suspect or discover that your account or account password has been compromised, you agree to notify an EXOS or CPI or ASPO staff member immediately.
        </p>

        <p>
            <strong><u>Links; Third Party Services; Promotional Messages</u></strong>
        </p>

        <p>
            As a convenience to our Participants, we may provide links to third-party web sites, applications, third party activity trackers (i.e. pedometers), or the ability to post to certain social media platforms. The linked sites and services are not under our control, and we make no representations as to the quality, suitability, functionality or legality of any sites to which we may provide links. You hereby waive any claim you might have against EXOS, CPI or ASPO with respect to such sites and agree to review their Terms and Privacy Policies prior to such use and do so at your own risk.
        </p>

        <p>
            EXOS, CPI or ASPO may so choose, from time to time, send e-mail or SMS (text) messages to you. EXOS, CPI and ASPO makes no representation or warranty or accuracy with respect to the content of any such e-mail or SMS (text message) and you agree that EXOS, CPI and ASPO shall not have any liability with respect thereto.
        </p>

        <p>
            <strong><u>Indemnification</u></strong>
        </p>

        <p>
            You agree to indemnify and hold harmless Athletes’ Performance Inc., CP International LLC and ASPO, and each of their respective affiliates, subsidiaries, and their respective officers, employees, agents, contractors, Sponsors, other Participants, and all third parties that might be used to support or provide services within or in conjunction with  EXOS Journey from any and all claims, suits, losses or related causes of action or demand, including reasonable attorneys' fees, made by any third party, due, to or arising out of: (i) your use of  EXOS Journey or any other EXOS Service (ii) the violation of these Terms by you.
        </p>

        <p>
            <strong><u>Termination</u></strong>
        </p>

        <p>
            EXOS reserves the right, at its sole discretion, immediately and without notice to suspend or terminate: (i) these Terms; (ii) your ability to access EXOS Journey or any application/website owned and operated by EXOS or its affiliates including CPI, and/or any other service provided to you by EXOS or CPI upon any breach by you of the Terms (or the Terms of other EXOS Services, websites or applications), or upon your demonstration of conduct that EXOS determines to be inappropriate, or upon the termination of your eligibility to use EXOS Journey.
        </p>

        <p>

            <strong><u>Miscellaneous</u></strong>

            <ul>

                <li>
                    The failure of either party to insist upon or enforce strict performance by the other party of any provision of these Terms or to exercise any right under the Terms will not be construed as a waiver or relinquishment to any extent of such party's right to assert or rely upon any such provision or right in that or any other instance, rather, the same will be and remain in full force and effect.
                </li>

                <li>
                    EXOS may assign its rights and obligations under these Terms and upon such assignment EXOS may be relieved of any further obligation hereunder.
                </li>

                <li>
                    You represent to EXOS, CPI AND ASPO that you have the authority to access and utilize EXOS Journey according to these Terms.
                </li>

                <li>
                    All exercise descriptions and recommendations within EXOS Journey are provided in English.  Please consult an EXOS or ASPO coach at the fitness center prior to performing an exercise if you are unfamiliar with the exercise movement; or, if you do not read, speak or understand English.
                </li>

            </ul>

        </p>

        <p>
            <strong><u>DISCLAIMER OF WARRANTIES</u></strong>
        </p>

        <p>
            YOU EXPRESSLY AGREE THAT YOUR USE OF EXOS JOURNEY AND ANY SERVICES USED IN CONJUNCTION WITH EXOS JOURNEY IS AT YOUR SOLE RISK. EXOS JOURNEY IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. EXOS AND THEIR RESPECTIVE AFFILIATES EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT.
        </p>

        <p>
            ALTHOUGH EXOS JOURNEY MAY PROVIDE SPORTS TRAINING, WELLNESS, PHYSICAL TRAINING, FITNESS, NUTRITION AND OTHER RELATED INFORMATION, APPLICATIONS AND CONTENT; THE INFORMATION ON EXOS JOURNEY AND THAT MAY BE PROVIDED BY EXOS AND ASPO COACHES IS PROVIDED WITH THE UNDERSTANDING THAT NEITHER EXOS, CPI, ASPO OR EACH OF THEIR RESPECTIVE AFFILIATES, NOR OTHERS PARTICIPANTING IN EXOS JOURNEY OR EXOS, CPI OR ASPO SERVICES, ARE ENGAGED IN RENDERING YOU MEDICAL, COUNSELING OR OTHER PROFESSIONAL SERVICES OR ADVICE.
        </p>

        <p>
            EXOS, CPI AND ASPO ENCOURAGE YOU TO SEEK APPROPRIATE MEDICAL ADVICE PRIOR TO STARTING ANY EXERCISE PROGRAM; AND/OR PROFESSIONAL OR MEDICAL ADVICE OR CARE FOR ANY SITUATION OR PROBLEM WHICH YOU MAY CURRENTLY HAVE.  EXOS JOURNEY IS NOT A SUBSTITUTE FOR QUALIFIED MEDICAL AND/OR PROFESSIONAL ADVICE. IN PARTICULAR, THE ACTIVITIES AND EXERCISES DESCRIBED IN TRAINING PROGRAMS, BY OUR STAFF AND/OR IN WITHIN JOURNEY MAY RESULT IN INJURY OR DEATH. YOU SHOULD CONSULT WITH A PHYSICIAN BEFORE PARTICIPATING IN ANY OF THE ACTIVITIES DESCRIBED IN EXOS JOURNEY.
        </p>

        <p>
            YOU AGREE NOT TO UNDERTAKE ANY ACTIVITY TO THE EXTENT THAT IT IS BEYOND YOUR PHYSICAL CAPACITY AND IMMEDIATELY NOTIFY AN EXOS, CPI OR ASPO COACH SHOULD THEY ASK YOU TO UNDERTAKE AN ACTIVITY THAT IS BEYOND YOUR PHYSICAL CAPACITY.
        </p>

        <p>
            EXOS MAKES NO WARRANTY THAT EXOS JOURNEY AND RELATED SERVICES WILL BE UNINTERRUPTED, SECURE OR ERROR FREE. INFORMATION COMMUNICATED FROM YOU VIA EXOS JOURNEY MAY BE INTERCEPTED OR READ BY A THIRD PARTY. EXOS DOES NOT GUARANTEE THE ACCURACY OR COMPLETENESS OF ANY INFORMATION IN, OR PROVIDED IN CONNECTION WITH EXOS JOURNEY. EXOS IS NOT RESPONSIBLE FOR ANY ERRORS OR OMISSIONS, OR FOR THE RESULTS OBTAINED FROM THE USE OF SUCH INFORMATION. YOU UNDERSTAND AND AGREE THAT ANY MATERIAL AND/OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF EXOS JOURNEY IS AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR OWN COMPUTER SYSTEM OR MOBILE DEVICE; OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL AND/OR DATA.
        </p>

        <p>
            <strong><u>Limitation of Liability</u></strong>
        </p>

        <p>
            EXOS, CPI, ASPO AND EACH OF THEIR RESPECTIVE AFFILIATES, SUBSIDIARIES, OFFICERS, EMPLOYEES, AGENTS, CONTRACTORS, SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES,  (A) RESULTING FROM THE USE OR THE INABILITY TO USE EXOS JOURNEY OR (B) FOR THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES OR (C) RESULTING FROM ANY GOODS OR SERVICES PURCHASED OR OBTAINED AS A RESULT OF YOUR USE OF EXOS JOURNEY OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO BECAUSE OF YOUR USE OF EXOS JOURNEY OR RESULTING FROM UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, USE, DATA OR OTHER INTANGIBLES, EVEN IF EXOS, CPI, ASPO OR ANY OF THEIR RESPECTIVE AFFILIATES, SUBSIDIARIES, OFFICERS, EMPLOYEES, AGENTS, OR CONTRACTORS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>

        <p>
            <strong><u>Applicable Law</u></strong>
        </p>

        <p>
            These Terms, and their subject matter and formation, are governed by the laws of Japan.  EXOS, CPI, ASPO and you agree that the Tokyo District Court shall have exclusive jurisdiction and venue in the first instance for all claims and disputes arising out of or relating to these Terms.
        </p>

        <hr>

        <h2>EXOS Journey－利用規約</h2>

        <h2>日本</h2>

        <p>
            <strong>施行日：2016年4月1日</strong>
        </p>

        <p>
            Athletes’ Performance, Inc.（「EXOS」）は、顧客向けサービスとしてEXOS Journeyとその他のウェブアプリケーションを所有し維持している。EXOSはまた、その関連会社に対しても、当該関連会社の顧客で資格を有する者へのライセンスを供与するために、EXOS Journeyを提供する場合がある。
        </p>

        <p>
            <a href="http://legal.athletesperformance.com/privacy-policy/ibmjapan/JP.html">http://legal.athletesperformance.com/privacy-policy/ibmjapan/JP.html</a> に掲載される当社プライバシーポリシーでは、利用者に対し、当社が収集する個人情報について、および当該データを当社がどのように使用するかについて説明する。
        </p>

        <p>
            <strong>本規約には、利用者によるEXOS Journeyの利用に関する利用者の権利および義務が記載されているので、これを熟読のこと。</strong>
        </p>

        <p>
            EXOS Journeyは、EXOS Journeyのアカウントを作成し維持する資格を有する（「EXOS Journeyの利用資格」を参照）とみなされた者に対してのみ提供される。EXOS Journeyのアカウントにアクセスし、利用または作成することにより、利用者は、現時点において本サイトに表示されている以下の利用規約（以下「本規約」）（将来的な改定の一切を含む）および適用法令を遵守すること、かつ、これらにより拘束されることに明示的に同意したこととなる。
        </p>

        <p>
            <strong>個人情報の米国への移転の通知</strong>
        </p>

        <p>
            <strong>利用者は、本規約を承諾することにより、本ウェブアプリケーションが米国でホストされていることについても承知し、EXOSまたはその関連会社が利用者の個人情報を米国のAmazon Web Services LLCに移転し保存することについて、利用者の明示的な同意を任意で与えるものである。この移転に同意しない場合、利用者は、EXOS Journeyを利用できない。Amazon Web Servicesは、利用者の個人情報にアクセスしない。</strong>
        </p>

        <p>
            <strong>個人情報の第三者への移転の通知</strong>

        </p>

        <p>

            <strong>利用者は、</strong> EXOS Journeyを利用することにより、次の関連会社や第三者がEXOS Journey内の利用者個人情報にアクセスすることに関して認め承諾する。

            <ol>

                <li>
                    CP International, LLCと称されるAthletes’ Performance, Inc.の子会社（以下「CPI」）は、フィットネスセンターを管理する。利用者のフィットネスセンターに配属されたCPIのスタッフは、利用者が要求する本サービスを提供し、また、利用者のEXOS Journey体験を支援するために、EXOS Journey内の利用者の個人情報にアクセスすることができる。CPIのスタッフは、当該情報を秘密情報としてかつプライバシーポリシーに準拠して取り扱うことが求められる。
                </li>

                <li>
                    当該フィットネスセンターにおいてEXOS Journeyを含むサービスを提供する一環として、CPIは、ASPOと直接契約を結ぶ。当該フィットネスセンターに配属された認定ASPOスタッフは、利用者から要求された本サービスを利用者に提供し、利用者のEXOS Journey体験を支援するために、EXOS Journeyに保存された利用者の個人情報にアクセスすることができる。ASPOのスタッフは、当該情報を秘密情報として、かつ、プライバシーポリシーに準拠して取り扱うことが求められる。
                </li>

            </ol>

        </p>

        <p>
            <strong><u>EXOS Journeyの利用資格</u></strong>
        </p>

        <p>

            利用者は、EXOS Journeyにアカウントを登録するにあたり、本規約に同意するとともに、以下を満たすものとする

            <ol type="A">

                <li>
                    EXOS Journeyにアカウントを作成し使用する年齢が18歳以上であること、または16歳以上で利用者の両親もしくは保護者がアカウントを作成することに同意していること。
                </li>

                <li>
                    利用者がEXOS Journeyに登録する際に真正、正確、最新かつ完全な情報を提供すること、利用者のプロフィールの連絡先情報を真正、正確かつ完全なものに維持し、かつ、速やかに更新すること。
                </li>

                <li>

                    以下のいずれかにより、資格があるとみなされること。

                    <ol type="a">

                        <li>
                            利用者と関連のある事業主または組織で、かつ、EXOS Journeyの全部もしくは一部を助成する事業主または組織により資格が認められていること。
                        </li>

                        <li>
                            EXOSまたはその各関連会社のいずれかにより資格が認められていること。
                        </li>

                        <li>
                            現時点でEXOS Journeyの使用権を購入し維持していること（この選択肢が利用可能なEXOSが管理する限られた施設においてのみ）。
                        </li>

                    </ol>

                </li>

            </ol>

        </p>

        <p>
            利用者がEXOS Journeyを利用する資格を失った場合、利用者は、フィットネスセンターのCPIまたはASPOのスタッフメンバーに速やかに通知し、本サービスの利用を直ちに中止しなければならない。利用者のアカウントは、EXOS Journeyの利用資格を失った時点で停止される場合がある。利用者がその時点における本規約に同意しない場合はいつでも、利用者は、EXOS Journeyを継続して利用する権限を有さず、また、本サービスを通じてまたはその一環として提供される特定の特典または利便性を受けることができない。同意しない場合、利用者は、Journeyの脱退（以下に記載する）を請求しなければならない。
        </p>

        <p>
            <strong><u>EXOS Journeyの脱退方法</u></strong>
        </p>

        <p>
            Journeyを脱退するには、利用する施設のEXOSスタッフメンバーに連絡するか、またはprivacy@teamexos.comに連絡のこと。
        </p>

        <p>
            <strong><u>本規約の改定および更新</u></strong>
        </p>

        <p>
            EXOSは、いつでも本規約を改訂することができる。当社は、本規約を重大に変更する場合、フィットネスセンター（該当する場合）、EXOS JourneyまたはEメールを通じて、当社が実施する本規約の変更について利用者に通知するよう努める。利用者は、保留となっている本規約に異議を申し立て、脱退する（上記の脱退手続を使用して）までに、当該時点から14日間の猶予を有する。当該期間中に利用者が新しい本規約に異議を申し立てなかった場合、新しい本規約が自動的に利用者に適用され、古い本規約は、効力を失う。本規約の変更は、効力を生じると利用者に対して拘束力を有することから、このような変更に注意すべく随時に本規約を確認のこと。
        </p>

        <p><strong><u>エンドユーザーデータライセンスおよび集約エンドユーザーデータライセンス</u></strong></p>

        <p>
            利用者は、EXOSに対して以下を許諾する。(i) 本規約の定めに基づき、および利用者が当社に求める本サービスを当社が実施することに関連してのみ、利用者の個人情報にアクセスし、使用し、開示する非独占、取消不能、企業規模、完全にサブライセンス供与可能、ロイヤルティなしの世界的ライセンス（以下「エンドユーザーデータライセンス」）、および、(ii)利用者にJourneyの利用資格があるとみなした組織と当社との契約の期間中または特定の場所（利用者がJourneyに使用料を支払っている場合）において適切であるとき、およびその後永久的に、匿名データ（利用者を特定できるものに戻せないもの）で構成される非特定化された集約データにアクセスし、使用し、開示するための、非独占、取消不能、企業規模、完全にサブライセンス供与可能、ロイヤルティなしの世界的ライセンス（以下「集約エンドユーザーライセンス」）。ただし、集約エンドユーザーデータライセンスに関しては、利用者が本規約およびプライバシーポリシーに記載する脱退方法を通じてエンドユーザーデータライセンスを取り消した後に当社が利用できるようになったデータは、これに含まれないことを条件とする。利用者がエンドユーザーデータライセンスを取り消した場合、EXOSは、利用者の個人情報を非特定化して集約エンドユーザーデータにするとともに、利用者のEXOSとのエンドユーザーライセンスが自動的に解除される。EXOSは、また、エンドユーザーデータライセンスの解除と同時に、利用者が本プログラムの利用のために登録した利用者の姓名および日時（以下「登録情報」）を保持することができ、利用者であるエンドユーザーに関する法的または行政上の紛争の解決のためにのみ当該登録情報を使用することに同意する。取り消しの時点をもって、ASPOおよびCPIは、利用者の個人情報にアクセスすることはできなくなるが、上述の集約エンドユーザーデータにはアクセスすることができる。
        </p>

        <p>

            <strong><u>著作権および商標</u></strong>

            <ol>

                <li>
                    <strong>所有権</strong>　テキスト、画像、ロゴ、ボタンのアイコン、イメージ、オーディオおよびビジュアルクリップならびにアプリケーションまたはソフトウェア等、EXOS Journeyに含まれるコンテンツはすべて、EXOSまたはそのコンテンツ提供者の財産であり、米国および国際的な著作権および商標法によって保護されている。「EXOS」および「Journey」は、EXOSの商標である。EXOS Journey上のコンテンツの編集物すべて（収集され、編集され、組み立てられたもの）は、EXOSの独占的財産であり、米国および国際的な著作権法により保護されている。EXOS Journeyにおいて使用されるソフトウェアはすべて、EXOSまたはそのソフトウェア提供者の財産であり、米国および国際的な著作権法により保護されている。
                </li>

                <li>
                    <strong>認可された使用</strong>　EXOS Journeyに関連する利便性は、有資格者と指定された者のみが享受することができる。EXOS Journey上のコンテンツおよびソフトウェアは、情報リソースとして使用することができる。さらに、EXOSは、ここに、利用者に対し、情報を個人的に利用する場合に限り、閲覧し複写しダウンロードし印刷することを許可する。当該個人的利用は、(i) コンテンツが非営利かつ情報提供目的でのみ使用され、投稿もしくは配布されないこと、(ii) コンテンツに変更が加えられないこと、および (iii) 著作権、商標その他の所有権表示が取り除かれないことを条件とする。本利用規約に明示的に記載のある場合またはその他EXOSが別段に許可する場合を除き、利用者は、EXOS Journey上の資料の複製、ダウンロード、公表、修正またはその他配布（フレームワークもしくはディープリンクまたはコンテンツをインターネット上で再公開することを目的としたその他サービスの利用を通じたものを含む）を行ってはならない。さらに、利用者は、EXOS Journeyのデザインやレイアウト、EXOSに帰属するロゴもしくは商標、その他のデザイン要素もしくはソフトウェアを複写、複製または配布してはならない。EXOS Journeyの不正利用および本契約中に記載のない方法でのEXOS Journeyコンテンツの利用は、これを固く禁じる。
                </li>

            </ol>

        </p>

        <p>
            <strong>ユーザーの投稿およびコンテンツ</strong>
        </p>

        <p>
            EXOSは、現在、または将来において、ユーザーが他のユーザーに情報（本サービスの他のユーザーまたは一般の人々に再公表されまたは閲覧可能な評価およびコメントを含むが、これらに限定されない）を投稿するまたは書き込むことのできるインタラクティブエリアをEXOS Journey内に提供することができる。EXOS Journeyの「インタラクティブエリア」に利用者のメンバー名を含むコンテンツを投稿することにより、利用者は、当該コンテンツに存在する権利の期間すべてを通じて、コンテンツ（全部または一部）を世界中で使用、複製、修正、脚色、公表、翻訳、派生著作物の作成、配布、一般への公開、実演および表示するための、またはこれを現在知られているか後に開発される各種の形式、媒体もしくは技術の他の著作物に組み込むための、ロイヤルティなし、永久的、取消不能の非独占的権利およびライセンスを、EXOSに許諾するものである。
        </p>

        <p>
            利用者は、また、他の加入利用者が個人利用目的で、当該コンテンツにアクセスし、これを表示し閲覧し保存し複製することについても許可するものである。利用者は、利用者のコミュニケーションの内容および当該コミュニケーションの結果について、単独で責任を負う。EXOS Journeyの利用が認められることの対価として、利用者は、以下のことに同意する。

            <ol>

                <li>
                    何らかの種類または性質の違法、嫌がらせ、名誉棄損、中傷、乱用、脅迫、有害、低俗、わいせつ、不敬、性的指向、人種差別、不正確、その他の不愉快な、または刑事犯罪となり、民事責任を生じさせ、その他現地、州、国のもしくは国際的な適用法規制の違反となるような行動を奨励する、または規制物質の使用を奨励するようなメッセージまたは資料の送付または書き込みのために、EXOS Journeyを使用しないこと。
                </li>

                <li>
                    実在する者であれ実在しない者であれ、他の者または法人になりすますこと（EXOS、CPI、ASPOまたはそれらの各関連会社の従業員、役員、取締役、クライアントまたは請負業者になりすますことを含む）を行わないこと。
                </li>

                <li>
                    各種の違法な資料（テキスト、写真、画像、ビデオ、プログラムまたはオーディオの形式の違法資料を含むが、これらに限定されない）の配布または送付のためにEXOS Journeyの書き込みまたは利用をしないこと。
                </li>

            </ol>

        </p>

        <p>
            当該行為は、本規約の重大な違反を構成するものとする。EXOSおよびCPIは、EXOS Journeyから、上記の規定に違反する投稿、データ要素またはコンテンツを削除する権利を留保し、また該当する場合には、法律違反の疑いまたは確認された法律違反の捜査において、警察および捜査機関に全面的に協力する。
        </p>

        <p>
            <strong><u>アカウント認証情報</u></strong>
        </p>

        <p>
            利用者は、自身のアカウント認証情報の安全について責任を負い、かつ、堅固なパスワードを使用することに同意する。EXOSは、利用者に対し、自身のパスワードを定期的に変更し、容易に推測することのできないパスワードを使用することを推奨する。利用者は、利用者のアカウントまたはアカウント認証情報を共有しないことに同意する。利用者のアカウントまたはアカウントパスワードが不正使用されたことが疑われるまたは判明した場合、利用者は、EXOS、CPIまたはASPOのスタッフメンバーに直ちに通知することに同意する。
        </p>

        <p>
            <strong><u>リンク、第三者サービス、プロモーションメッセージ</u></strong>
        </p>

        <p>
            本参加者の便宜のため、当社は、第三者のウェブサイト、アプリケーション、第三者の活動トラッカー（活動量計）へのリンク、または特定のソーシャルメディアプラットフォームへの書き込み機能を提供する場合がある。リンク付けされたサイトおよびサービスは、当社の管理下にはなく、当社は、当社がリンクを提供するサイトの品質、適切性、機能または適法性に関して何らの表明も行うものではない。利用者はここに、当該サイトに関して利用者がEXOS、CPIまたはASPOに対して有する請求権を放棄し、当該サイトを利用する前にその規約およびプライバシーポリシーを確認し、利用者自身の危険負担において利用することに同意する。
        </p>

        <p>
            EXOS、CPIまたはASPOは、利用者へのEメールもしくはSMS（テキスト）メッセージを送付することを随時選択することができる。EXOS、CPIおよびASPOは、当該EメールまたはSMS（テキストメッセージ）の内容に関して、正確性を表明または保証するものではない。また、利用者は、EXOS、CPIおよびASPOがそれに関して責任を負わないことに同意する。
        </p>

        <p>
            <strong><u>免責</u></strong>
        </p>

        <p>
            利用者は、(i) 利用者によるEXOS Journeyまたはその他のEXOSのサービスの利用、(ii) 利用者による本規約の違反に起因するまたはこれより生じた、第三者によるあらゆる申立、訴訟、損失または関連する訴訟原因もしくは要求（合理的な弁護士費用を含む）について、Athletes’ Performance Inc.、CP International LLCおよびASPOならびにそれらの各関連会社、子会社、それらの各役員、従業員、代理人、請負業者、スポンサー、その他の本参加者、およびEXOS Journey内のもしくはこれと関連するサービスの支援または提供のために用いられるすべての第三者を免責し、これらに損失を与えないことに同意する。
        </p>

        <p>
            <strong><u>解除</u></strong>
        </p>

        <p>
            EXOSは、利用者が本規約（またはその他のEXOSのサービス、ウェブサイトもしくはアプリケーションの規約）に違反した場合、またはEXOSが不適切と判断するような行為を利用者が実施した場合、または利用者がEXOS Journeyを利用する資格が終了した場合には、その単独の裁量により、直ちにかつ通知なしで、(i) 本規約、(ii) 利用者が、EXOSもしくはその関連会社（CPIを含む）が所有し運営するEXOS Journeyもしくはその他のアプリケーションやウェブサイト、またはEXOSもしくはCPIより利用者に提供されるその他のサービスを利用する能力を、中止するもしくは解除する権利を有する。
        </p>

        <p>

            <strong><u>雑則</u></strong>

            <ul>

                <li>
                    いずれかの当事者が他方当事者に、規約のいずれかの条項の厳格な履行を主張しないもしくは強制しない、またはいずれかの条項の権利を履行しない場合であっても、そのことによって、まさにその場合またはそれ以外の場合に当該当事者が当該条項もしくは権利をその範囲で主張するまたは依拠する権利の放棄と解釈されるものではなく、当該条項または権利は、将来においても完全に有効であり続ける。
                </li>

                <li>
                    EXOSは、本規約に基づく自らの権利および義務を譲渡することができる。また当該譲渡をもって、EXOSは、本契約に基づくさらなる義務より免じられる。
                </li>

                <li>
                    利用者は、EXOS、CPIおよびASPOに対し、利用者が本規約に従ってEXOS Journeyにアクセスし利用する権限を有することを表明する。
                </li>

                <li>
                    EXOS Journey内のエクササイズの詳細および推奨事項はすべて、英語にて提供される。利用者がエクササイズの動作に不慣れである場合、または利用者が英語を読み、書きまたは理解することができない場合には、エクササイズを実施する前にフィットネスセンターのEXOSまたはASPOのコーチと相談のこと。
                </li>

            </ul>


        </p>

        <p>
            <strong>保証の否認</strong>
        </p>

        <p>
            利用者は、EXOS Journeyの利用およびEXOS Journeyに関連して利用されるサービスの利用について利用者が単独でリスクを負担することについて、明示的に同意する。EXOS Journeyは、「現状有姿」および「利用可能な範囲」で提供される。EXOSおよびその各関連会社は、商品性、特定目的への適合性または侵害のないことの保証を含め（ただしこれらに限定されない）、明示または黙示問わず一切の保証を明示的に否認する。
        </p>

        <p>
            EXOS Journeyは、スポーツトレーニング、健康、身体トレーニング、フィットネス、栄養その他に関連する情報、アプリケーションおよびコンテンツ、EXOS Journeyに関する情報を提供する場合があり、またEXOSおよびASPOのコーチによって提供される場合があるが、それは、EXOS、CPI、ASPOまたはそれらの各関連会社も、またEXOS JourneyまたはEXOS、CPIもしくはASPOのサービスへのその他の参加者も、利用者への医療、カウンセリングその他の専門的なサービスや助言の提供に携わっていないという理解のもとに提供されている。
        </p>

        <p>
            EXOS、CPIおよびASPOは、エクササイズプログラムを開始する前に、適切な医療上の助言または専門的もしくは医療上の助言を求め、または利用者が現在抱えている状況もしくは問題に配慮することを奨励するものである。EXOS Journeyは、有資格者による医療上もしくは専門的な助言を代替するものではない。特に、当社スタッフによりまたはJourney内においてトレーニングプログラムに記載される活動およびエクササイズは、傷害または死亡につながる場合もある。利用者は、EXOS Journeyに記載される活動に参加する前に、医師に相談すべきである。
        </p>

        <p>
            利用者は、利用者の体力・身体能力を超える活動を行わないこと、また、EXOS、CPIまたはASPOのコーチが利用者に利用者の体力・身体能力を超える活動の実施を求めた場合は、これらの者に直ちに知らせることに同意する。
        </p>

        <p>
            EXOSは、EXOS Journeyおよび関連サービスに中断がなく、確実でありまたはエラーがないとの保証を行うものではない。EXOS Journeyを通じて利用者より伝達された情報は、第三者により傍受されるまたは読み取られる可能性がある。EXOSは、EXOS Journey中のまたはEXOS Journeyに関連して提供される情報の正確性または完全性を保証しない。EXOSは、エラーもしくは不作為について、または当該情報より得られる結果について、責任を負うものではない。利用者は、EXOS Journeyの利用を通じてダウンロードしたまたはその他取得した資料またはデータが利用者の裁量およびリスクによるものであること、また、自身のコンピューターシステムもしくはモバイル機器の損害または当該資料もしくはデータのダウンロードに起因するデータの損失について利用者が単独で責任を負うことについて、了承し同意するものである。
        </p>

        <p>
            <strong>責任の制限</strong>
        </p>

        <p>
            EXOS、CPI、ASPOおよびそれらの各関連会社、子会社、役員、従業員、代理人、請負業者は、(A) EXOS Journeyの利用もしくは仕様不能に起因する、または (B) 代替となる商品およびサービスの調達費用について、または (C) 利用者によるEXOS Journeyの利用または利用者によるEXOS Journeyの利用を理由に受領したメッセージもしくは行った取引の結果として購入もしくは取得した商品もしくはサービスに起因する、または不正アクセスもしくは利用者による移転もしくはデータの改変に起因する、直接、間接、付随的、特別または派生的損害（逸失利益、使用不能、データまたはその他の無形物の損失のための損害が含まれるが、これらに限定されない）について、責任を問われるものではない。これは、たとえEXOS、CPI、ASPOおよびそれらの各関連会社、子会社、役員、従業員、代理人、請負業者が損害の可能性について通知を受けていたとしても適用される。
        </p>

        <p>
            <strong><u>適用法</u></strong>
        </p>

        <p>
            本規約およびその主題と構成は、日本の適用法に準拠する。EXOS、CPI、ASPOおよび利用者は、本規約より生じるまたは関連するすべての申立および紛争について東京地方裁判所を第一審の専属的合意管轄裁判所とすることに同意する。
        </p>

    </div>
</div>