---
title: Privacy Policy
---

<div class="row">
    <div class="large-12 columns">

        <p>
            The English text is displayed first, followed by the Japanese text.  Please scroll down to review the Japanese version.
        </p>

        <p>
            英語での記載がが先にあり、その後日本語での記載がございます。日本語バージョンはスクロールしてご覧ください。
        </p>

        <hr>

        <p>
            <h1><em>Privacy Policy of CP International, LLC</em></h1>
        </p>

        <p>
            This privacy policy (the “Privacy Policy“) describes the privacy practices for CP International, LLC (“EXOS”) in connection with the information we collect from you through the Managed Performance or Fitness Center (the “Program”), online (including but not limited to Journey and our Fitness management system “OPS”), on paper, and in person.  In order to participate (or continue to participate) in this Program, you are required to acknowledge your consent that you understand and agree to the terms of this Privacy Policy.
        </p>

        <p>
            EXOS respects the privacy of those persons who access and/or use the Program (“you,” “your,” “user,” or collectively “users”) and is committed to maintaining the Privacy of your Personally Identifiable Information (as defined below) that we collect from you as part of the Program.
        </p>

        <p>
            <strong>Purpose.</strong> The purpose of this Privacy Policy is to inform you about what information EXOS may collect from you, how we use that information, whether we disclose that information to anyone (including third parties), and the choices you have regarding our use of, and your ability to correct or update, your Personally Identifiable Information with EXOS. “Personally Identifiable Information” is defined as information about a living individual, which can identify the specific individual by name, date of birth, including other description contained in such information (including such information as will allow easy reference to other information and thereby enable the identification of the specific individual). By participating in the Program, you expressly consent to the use and disclosure, including disclosure to third parties identified herein, of your Personally Identifiable Information as described in this Privacy Policy.
        </p>

        <p>
            <strong>What Information We Collect and How We Collect Information.</strong> We may collect Personally Identifiable Information from you in several ways through your use of the Program, such as through electronic or paper forms you may submit to us, online through your interactions with the equipment in the performance center, check-in systems, OPS, Journey or any of EXOS’s web presence, through personal written or electronic correspondence, and verbally in order to provide you with the services that you have requested.
        </p>

        <p>
            During or following registration for the Program (including Journey), we may collect information such as (but not necessarily limited to): your name, email addresses, password, postal addresses (or work addresses), telephone number, date of birth, gender, age, geographic location, employee / badge ID number, authorization to and emergency contact person and their telephone number. Through our physical activity readiness questionnaire, evaluations and assessments, we may also collect information such as but not necessarily limited to: height, weight, injury history, physical assessment scores (including VO2 and Functional Movement Screen scores), nutrition assessment results, motivation assessment results, any heart rate restrictions to which you may be subject and relevant heart rate cap, Body Mass Index ( “BMI”), body composition, training history, physical activity readiness information, nutrition goals, training goals, and initial fitness and wellness levels.
        </p>

        <p>
            On an ongoing basis, we collect: when you visit the performance/fitness center, your self-reported answers to questions such as your purpose for visiting the performance/fitness center and how you feel on the day of your visit, workout data (including date, duration, activity, heart rate and power generated through exercise), and other information either desirable or necessary to provide quality services to you. We may also collect information about your interaction with the Program, such as your use of the Program and communication preferences with our Staff. Through Journey, you will create an account (if you do not already have one) and set up a performance profile. You will be asked to provide answers to questions via an online registration related to Mindset, Nutrition, Movement and Recovery to assist you in identifying and achieving your fitness and wellness goals and in leading a healthier and active lifestyle.
        </p>

        <p>
            We may also collect “Non-Personally Identifiable information”, which is information that cannot be used to identify you. Some examples of how we collect Non-Personally Identifiable Information include but are not limited to: recording the total number of people attending a group exercise class you participated in; or, if you choose to exercise on a piece of equipment without authenticating or “logging in” to the equipment-- the equipment may still record or report the time/duration of use and way in which it was utilized. In Journey, we may track in aggregate, the pages within the application that you access and when, in order to monitor utilization.
        </p>

        <p>
            <strong>Collection of Data from Minors in Japan.</strong> You must be 18 years of age or older to use the Program.
        </p>

        <p>
            <strong>Cookie and Pixel Tracking Policy.</strong> When you browse a website or other on-line system operated by EXOS, a temporary cookie is placed on your computer that helps EXOS collect information to help us better understand our visitors’ interests and to better serve you.
        </p>

        <p>
            <strong>What are Cookies?</strong> “Cookies” are small pieces of information that are stored by your web browser’s software on your computer’s hard drive or temporarily in your computer’s memory. The use of cookies is an industry standard and it enhances the user experience and your access to information on a website or other on-line system operated by EXOS. Cookies are used on most major web sites. Cookies enable EXOS to recognize you and personalize your viewing experience on a website or other on-line system operated by EXOS. 
        </p>

        <p>
            EXOS uses cookies for a variety of purposes including, but not limited to, to recognize user access (or logon) privileges to a website or other on-line system operated by EXOS (such as to store user names and other information supplied at registration), and track usage and traffic patterns. Although most web browsers are initially set up to accept cookies, you may be able to decline the placement of a cookie on your hard drive by using the appropriate feature(s) of your web browser software (if available) to delete the cookie. Please note, however, that certain areas or features of the website or other on-line system operated by EXOS will not function properly if your web browser does not accept cookies.
        </p>

        <p>
            In addition to using Cookies, a website or other on-line system operated by EXOS may employ “pixel tracking”, a common process which may be used in connection with advertisements and or internal tracking. Pixel tracking involves the use of pixel tags that are not visible to the user and consist of a few lines of computer code. Pixel tracking allows us to compile aggregate and specific usage statistics. A “pixel tag” is an invisible tag placed on certain pages of websites that is used to track an individual user’s activity for the purposes of the Program. We may access these pixel tags to identify user activity. If you visit a website or other on-line system operated by EXOS or any of its affiliates, and we link you to another website, we may also be able to determine that you were sent to and/or you transacted with a third party website. Your data may be compiled in aggregate for use in our marketing and research.
        </p>

        <p>
            <strong>Why We Collect, and How We Use Your Information.</strong> EXOS collects information from you for the following reasons and, therefore, uses the information in the following ways:
        </p>

        <ul>
            <li>to develop a customized training program tailored to each user’s goals and needs</li>
            <li>to track users’ progress towards their fitness and health goals</li>
            <li>to customize users’ experiences</li>
            <li>to improve EXOS’s services and/or products</li>
            <li>to develop new products or services</li>
            <li>to provide services which you have requested from us, including to provide you with notifications related to your use of any of the services offered in connection with the Program</li>
            <li>to track the use of the facility and applications such as but not limited to Journey</li>
            <li>to track the effectiveness of the Program</li>
            <li>to analyze use of our products, services and online programs</li>
            <li>to develop, customize, enhance or provide advertising for EXOS’s services and/or products</li>
            <li>to document users’ Program history to appropriately customize the individual’s fitness and wellness goals based on information the user provides</li>
            <li>to comply with applicable Japanese and International Laws and Directives.</li>
            <li>to provide recommendations that allow you to choose simple strategies to improve your health, nutrition, and performance</li>
            <li>to demonstrate EXOS’s performance under its agreement with your Employer or the Party that contracted with EXOS to provide you with access to the services within the Program</li>
            <li>to communicate with you on matters related to the Program</li>
        </ul>

        <p>
            <strong>Sharing of Personal Information with Third Parties.</strong> Except as set forth in this Privacy Policy or when specifically agreed to by you, we will not disclose any Personally Identifiable Information we gather from you through our Program. You agree that we may share your Personally Identifiable Information with our affiliates or to third party services that assist us with processing or storing your Personally Identifiable Information in accordance with this Privacy Policy and applicable law, including but not limited to the Act on the Protection of Personal Information (the “APPI”; with regards to applicable law, the same shall apply hereafter), for the purposes for which we collected it. Where we do share your Personally Identifiable Information with such third parties, we take steps to ensure that they use appropriate safeguards to protect your Personally Identifiable Information.
        </p>

        <p>
            We currently store much of your Personally Identifiable Information on servers hosted by Amazon Web Services LLC or its affiliates. We require any party to whom we provide your personal information adhere to applicable local, country, regional and/or International Law(s). Amazon Web Services LLC does not have access to your Personally Identifiable Information.
        </p>

        <p>
            EXOS also may disclose an individual’s Personally Identifiable Information (to the extent permitted by applicable law):
        </p>

        <ul>
            <li>in situations where you have requested services from us that require sharing or disclosing your information; and, where you have authorized such sharing or disclosure for such services (note: you may not be able to fully utilize certain services if you refuse to agree to the required sharing or disclosure of your information that is necessary to perform or provide those services); if, in the reasonable judgment of EXOS, disclosure is necessary to enforce compliance with our internal policies or to protect our Program, customers, or others;</li>
            <li>to any other entity that acquires all or a portion of our organization by merger, reorganization, operation of law, or a sale of some or all of EXOS’s assets;</li>
            <li>for an emergency that threatens an individual’s life, bodily safety or property, and where obtaining such consent would present undue hardship;</li>
            <li>to legal counsel representing EXOS; EXOS may also use or disclose your information where required by a court or other government authority of competent jurisdiction in connection with a legal action or other proceeding (including without limitation, in response to a court order or a subpoena). For any such use or disclosure, however, we will take reasonable steps to verify the authenticity of such a request prior to disclosing your information and disclose the minimum amount necessary to comply with the request.</li>
        </ul>

        <p>
           <strong>How we use anonymous aggregate information.</strong> We may further analyze, use, and report on the information that you and other participants in the Program share with us, in aggregate. This aggregate information (hereinafter, “Aggregate Data”) is anonymized and is a type of Non-Personally Identifiable Information because it does not identify you or other Program Participants personally. We may share this Aggregate Data (or subsets of it) with our affiliates, agents, business partners and your Employer or the Party that provided you access to the services in this Program. We may also disclose such Aggregate Data in order to describe our services to current and prospective clients and to other third parties for other lawful purposes. Examples of such use include but are not limited to: number of registered members at the fitness center, usage data based on hours of operation, types of services and equipment, customer survey scores, and fitness outcome data.
        </p>

        <p>
            <strong>How to Opt Out from having EXOS use your Personally Identifiable Information or Request that your Personally Identifiable Information not be shared with any Third Parties.</strong> You may request that EXOS stop using/collecting your Personally Identifiable Information and that EXOS not collect any of your Non-Personally Identifiable Information in the future or share your information with third parties as described herein or that you have previously authorized. Please initiate such a request with the Managing Staff Member at your Fitness or Performance Center location in writing, or by sending an email to <a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>. Upon receipt of your opt-out request, EXOS will process your request, and you will receive an e-mail confirming that you have opted-out and that EXOS has stopped using/collecting/sharing (as described herein or if previously authorized by you) your Personally Identifiable Information. In addition, the confirmation email will provide instructions and recommendations on how to avoid providing EXOS with Non-Personally Identifiable Information in connection with any services that you may attempt to use after you have opted-out.
        </p>

        <p>
            <strong>Please be aware that if you opt-out and elect for EXOS to stop using/collecting your Personally Identifiable Information and to not collect any Non-Personally Identifiable Information in the future, or not to share your information with third parties as necessary to provide the services you have requested, your access to the services may be significantly limited, or eliminated, and such restrictions on or inability to use or access these services is not be a breach of this Privacy Policy, the Terms and Conditions or any other agreement you may have with EXOS.</strong> For example, if you elect to not share any Personally Identifiable Information, your access badge (if applicable) will not work and you will not be able to use any services at the performance center that require your personal information to provide you with a customized experience and/or require you to log-in. Such a request may cause you to lose access to Journey and all of your data stored within it.
        </p>

        <p>
            Even if you elect for EXOS to stop using/collecting your Personally Identifiable Information going forward and to not collect any Non-Personally Identifiable Information in the future, we may still: (i) retain your first and last name and the date that you registered to use the services; (ii) continue to use data that is already part of an Aggregate Data set or was collected as Non-Personally Identifiable Information; and (iii) continue to use information that we previously collected from you that we anonymize when you notify us of your election to no longer share any Personally Identifiable Information with us.
        </p>

        <p>
            Upon the termination of EXOS’s agreement with your Employer or the Organization or Party that has contracted with EXOS to provide the Program’s services to you, EXOS will stop using/collecting your Personally Identifiable Information, but may (to the extent permitted by law): (i) retain your first and last name and the date that you registered to use the services; (ii) continue to use data that is already part of an Aggregate Data set or was collected as Non-Personally Identifiable Information; and (iii) continue to use information that we previously collected from you that we anonymize and as provided for in this Privacy Policy.
        </p>

        <p>
            <strong>Security.</strong> EXOS is committed to protecting the security of the information we collect from you. We maintain commercially reasonable safeguards including encryption of personally identifiable information in transit over the public internet, and in storage, to maintain the security and privacy of the information we collect from you. If you submit information to EXOS online, we recommend that you terminate your browser session before leaving your computer. In spite of these protections, EXOS cannot guarantee the security of any data submitted over the Internet. After your information reaches EXOS, it is stored electronically (or in the case of information received from you in person, in writing or over the phone, in physical storage areas) and protected by procedures and/or technology that comply with and meet applicable industry standards, including applicable laws, regulations, government directives, which are designed to block reasonably foreseeable intrusions by unauthorized third parties. In addition, to access some of the content, information, products and services provided by EXOS through the Program, you may be required to register by providing certain information and creating a user name and password to access (or log in). You are responsible for maintaining the confidentiality of your user name and password. You shall be responsible for all uses of your user name(s) and password(s). You agree to immediately notify the Fitness or Performance Center Manager at your location or email EXOS at: <a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a> in the event you become aware of or suspect any unauthorized use of your user name(s) and/or password(s).
        </p>

        <p>
            <strong>Integrity, Access, and Retention of Your Personally Identifiable Information.</strong><br>
            EXOS is committed to collecting and retaining accurate and up-to-date information about you in order to provide you with the maximum benefits from your participation in the Program. EXOS will respond in specific ways when we receive a request from you for your personal information. You have the following rights in regards to the access or correction of Personally Identifiable Information that EXOS holds about you:
        </p>

        <ul>
            <li>To request access to or a copy or an update/correction of the personally identifiable information that EXOS retains about you or deletion of incorrect personally identifiable information, please submit your request in writing to the managing staff member at your Fitness or Performance Center location. You may also make this request to EXOS’s Privacy Officer at <a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>. We will require proof that you are eligible to make such request. Please be specific in your request. You may be asked to supply enough information to enable us to account for the existence, use and disclosure of personally identifiable information. We will respond as quickly as possible to your request. We may refuse access to such information in certain circumstances if required/permitted by law or court order. Should your request be refused in full or part, we will explain why and identify any recourse available.</li>
            <li>Please correct or update information directly with the managing staffer at your Performance Center location. Should you challenge the accuracy or completeness of the Personally Identifiable Information we have about you, we will review your request and the information that you provide, and correct or amend such information if it is found to be deficient; or, explain our findings should we not concur. Should the managing staffer be unable to assist, you may contact EXOS’s Privacy Officer for assistance at <a href="mailto:privacy@teamexos.com">privacy@teamexos.com.</a></li>
            <li>Retention of Your Information. We retain your Personally Identifiable Information for only as long as is necessary for the purposes for which we collected it from you or as otherwise required by law. The reasons for retention are disclosed within this Policy.</li>
        </ul>

        <p>
            <strong>Changes to Privacy Policy.</strong> This Privacy Policy may be amended from time to time, with or without prior notice but consistent with then current applicable laws; and, will take effect immediately for all information, including but not limited to information which we already have about you. EXOS will attempt to notify you should there be a material change to this Privacy Policy that affects how we handle your Personally Identifiable Information. You may obtain a copy of the current Privacy Policy from a Staff Member at the Fitness or Performance Center, or by sending an email to <a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>.
        </p>

        <p>
            <strong>Contact Us.</strong><br> 
            If you have questions regarding our Privacy Policy or the use of your personally identifiable information, you can contact us:
        </p>

        <p>
            <strong>In person:</strong> Contact the Manager at the Fitness or Performance Center to which you are a member
        </p>

        <p>
            <strong>By email:</strong> Contact EXOS’s Privacy Officer at <a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>
        </p>

        <p>
            <strong>By writing to us at:</strong>

            <ul class="vcard">
                <li class="org">CP International, LLC</li>
                <li>Attn: Garrett D. Felix, Privacy Officer</li>
                <li>c/o EXOS</li>
                <li class="street-address">2629 E. Rose Garden Lane</li>
                <li class="locality">Phoenix, <span class="state">AZ</span> <span class="zip">85050</span> <span class="country">USA</span></li>
            </ul>
        </p>

        <p>
            <strong>Dispute Resolution.</strong><br> 
            EXOS commits to resolve complaints about your privacy and our collection or use of your Personally Identifiable Information. Should your Performance Center Manager be unable to handle your privacy concern, dispute or question to your satisfaction, please contact EXOS’s Privacy Officer in writing with details of your dispute or concern:
        </p>

        <p>
            <strong>By email:</strong> <a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>
        </p>

        <p>
            <strong>By writing to us at:</strong>

            <ul class="vcard">
                <li class="org">CP International, LLC</li>
                <li>Attn: Garrett D. Felix, Privacy Officer</li>
                <li>c/o EXOS</li>
                <li class="street-address">2629 E. Rose Garden Lane</li>
                <li class="locality">Phoenix, <span class="state">AZ</span> <span class="zip">85050</span> <span class="country">USA</span></li>
            </ul>

        </p>

        <p>
            Any disputes arising out of or in connection with the Program or this Privacy Policy shall be subject to the exclusive jurisdiction of the Tokyo District Court.
        </p>

        <hr>

        <p>
            <strong>CP International, LLC</strong><br>
            <strong>プライバシーポリシー</strong>
        </p>

        <p>
            本プライバシーポリシー（以下「本ポリシー」という）は、マネージド・パフォーマンス／フィットネス・センター（以下「本プログラム」という）、オンライン（Journeyおよびフィットネス・マネジメントシステム（OPS）等を含むが、これらに限定されない）ならびに書面を通じて、また、実際に対面で収集する情報に関連するCP International, LLC（以下「EXOS」という）のプライバシー慣行について説明する。本プログラムに参加（または参加を継続）するユーザーは、本ポリシーの条件を理解した上で承諾していることを了承する必要がある。
        </p>

        <p>
            EXOSは、本プログラムにアクセスする、またはこれを利用する者（以下「ユーザー」、「ユーザーの」、または総称として「ユーザー」という）のプライバシーを尊重し、本プログラムの一環としてユーザーから収集する個人特定情報（以下に定義する）のプライバシー保護を行う。
        </p>

        <p>
            目的　本ポリシーの目的は、EXOSがどのような情報をユーザーから収集するか、その情報をどのように利用するか、誰かに（第三者を含む）開示するか否か、また、EXOSが個人特定情報を利用することに関してユーザーが行使できる選択、さらに当該情報のユーザーによる修正または更新が可能かについて告知することにある。「個人特定情報」とは、「生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）」と定義される。本プログラムへの参加を通じてユーザーは、本ポリシーで特定される第三者への開示を含め、本ポリシーに記載される個人特定情報の利用および開示について明示的に同意するものとする。
        </p>

        <p>
            <strong>EXOSが収集する情報および収集手段</strong>　EXOSは、本プログラムの利用を通じてユーザーが求めるサービスを提供するために、いくつかの方法で、例えばユーザーが提出する電子媒体もしくは紙媒体、パフォーマンス・センターの機器、チェックインシステム、OPS、JourneyもしくはEXOSのウェブプレゼンスなどのオンラインでのやりとり、紙媒体もしくは電子媒体の通信を通じて、または口頭で個人特定情報を収集することができる。
        </p>

        <p>
            本プログラム（Journeyを含む）の登録期間中または登録後、EXOSは、ユーザーの名前、電子メールアドレス、パスワード、郵便物の送付先（または職場の住所）、電話番号、生年月日、性別、年齢、地理的位置、社員証や身分証のID番号、緊急連絡先とその電話番号（および緊急連絡先に連絡することへの承諾）等（これらに限定されない）の情報を収集することができる。また、EXOSは、身体活動質問票、査定および評価を通じて、身長、体重、傷害歴、身体的情報評価スコア（酸素摂取量「VO2」および身体機能チェック「FMS」のスコア等）、栄養評価の結果、モチベーション・アセスメントの結果、ユーザーの心拍数制限と関連する心拍数の上限、肥満度指数（BMI）、身体組成、トレーニング履歴、身体活動情報、栄養目標、トレーニング目標、およびフィットネスとウェルネスに関する当初のレベル等（これらに限定されない）の情報を収集することができる。
        </p>

        <p>
            EXOSは、以下の情報を継続的に収集する。パフォーマンス／フィットネス・センターに来訪した日時、来訪目的や当日の体調に関する質問に対する自主的な報告、運動データ（日付、運動時間、活動内容、心拍数、および運動を通じて得られた体力等）および高品質なサービス提供のために有用なまたは必要なその他情報。また、本プログラムの利用およびEXOSスタッフとの希望する連絡方法等、本プログラムとのやりとりに関する情報も収集する。ユーザーは、Journeyを通じて（まだアカウントを作成していない場合は）アカウントを作成し、パフォーマンス・プロフィールを設定する。ユーザーは、オンライン登録を通じて、フィットネスとウェルネスの目標確認とその目標達成に役立つ、また、より健康的で活動的なライフスタイルの促進に役立つような考え方、栄養摂取、運動および体力回復に関する質問に答えるように求められる。
        </p>

        <p>
            EXOSは、「非個人特定情報」すなわち個人の特定に利用されない情報についても収集する。「非個人特定情報」の収集方法の例として、ユーザーが参加したグループエクササイズ教室の合計参加者数を記録すること、または認証していないか「ログイン」していない状態の機器でトレーニングを行った場合は、当該機器の機能で使用時刻／時間、また、どのように活用されたかの記録や報告が可能であること等があげられる。Journeyの場合、EXOSは、利用状況をモニターするために、またモニターを目的として、ユーザーがアクセスするアプリケーションのページを全体的にトラックすることができる。
        </p>

        <p>
            <strong>日本における未成年者からの情報収集</strong>　18歳以上のユーザーに限り、本プログラムを利用できる。
        </p>

        <p>
            クッキー<strong>（Cookie）</strong> とピクセルトラッキングのポリシー　ウェブサイトその他EXOS運営のオンラインシステムを閲覧する場合、テンポラリー・クッキーがコンピューターに保存されることでEXOSの情報収集に役立ち、また、閲覧者の興味に対する理解が深まりサービス向上にも役立つ。
        </p>

        <p>
            クッキーについて　「クッキー（cookies）」とは、ウェブ・ブラウザのソフトウェアを通じて、コンピューターのハードディスク上に、またはコンピューターのメモリに一時的に保存される情報のピースである。クッキーの利用は、業界標準の技術であり、ウェブサイトその他EXOS運営のオンラインシステムのユーザーエクスペリエンスや情報へのアクセスを増進する。クッキーは、ほとんどの主要なウェブサイトで利用されている。クッキーを通じてEXOSは、ウェブサイトその他EXOS運営のオンラインシステムでユーザーを認識し、視聴体験をパーソナライズできるようになる。
        </p>

        <p>
            EXOSは、ウェブサイトその他EXOS運営のオンラインシステムにアクセス（またはログオン）する権限の認識（登録時に提供するユーザー名その他の情報の保存等）、利用状況およびトラフィックパターンの追跡を含むがこれらに限定されない多様な目的にクッキーを利用する。ほとんどのウェブ・ブラウザは、クッキーを受け取るように初期設定されているが、クッキーを削除できるブラウザソフトウェア（利用可能な場合）の適切な機能を使えば、クッキーのハードディスクへの配置を拒否することができる。ただし、ウェブサイトその他EXOSが運営するオンラインシステムの特定のエリアまたは機能は、ブラウザがクッキーを受け取らなければ正しく機能しないので注意が必要である。
        </p>

        <p>
            クッキーの利用に加えて、ウェブサイトその他EXOS運営のオンラインシステムは、広告および内部トラッキングに関連して使用される共通プロセス「ピクセルトラッキング」を採用することができる。ピクセルトラッキングには、ユーザーには見えない数行のコンピューターコードで構成されるピクセルタグの使用が含まれ、ピクセルトラッキングによって集約的で具体的な使用統計をまとめることができる。「ピクセルタグ」とは、ウェブサイトの特定ページに配置される目に見えないタグで、本プログラムでは個々のユーザーの活動追跡に用いられる。EXOSは、このピクセルタグにアクセスしてユーザーの活動を確認する場合がある。ウェブサイトその他EXOSもしくはEXOS関連会社運営のオンラインシステムにユーザーがアクセスし、EXOSが他のサイトにリンクを張って誘導する場合、EXOSは、そのリンク先や第三者のサイトにユーザーが移動したか、またはトランザクションの有無を判断することもできる。ユーザーのデータを総計的にまとめてマーケティングリサーチに活用することができる。
        </p>

        <p>
            <strong>ユーザー情報を収集する理由および情報の活用方法</strong>　EXOSは、以下の理由に基づき情報を収集し、以下のとおり活用する。
        </p>

        <ul>
            <li>各ユーザーの目標とニーズに合わせてカスタマイズされたトレーニングプログラムを開発するため</li>
            <li>ユーザーのフィットネスと健康目標に向けたユーザーの進捗状況を追跡するため</li>
            <li>ユーザーエクスペリエンスをカスタマイズするため</li>
            <li>EXOSのサービスや製品を向上させるため</li>
            <li>新規の製品やサービスを開発するため</li>
            <li>本プログラムに関連して提供されるサービスの利用に関する通知を行うなど、ユーザーが求めるサービスを提供するため</li>
            <li>設備およびアプリケーション（Journeyを含むがそれに限られない）の利用を追跡するため</li>
            <li>本プログラムの効果を追跡するため</li>
            <li>EXOSの製品、サービスおよびオンラインプログラムの利用を分析するため</li>
            <li>EXOSのサービスや製品の広告を開発、カスタマイズ、増強または提供するため</li>
            <li>ユーザーの本プログラム履歴を記録して、ユーザーが提供する情報に基づく個人のフィットネスとウェルネスの目標を適切にカスタマイズするため</li>
            <li>日本と海外で適用される法律や指令を遵守するため</li>
            <li>健康、栄養摂取およびパフォーマンスを改善する簡単な方法をユーザーが選択できる提案を行うため</li>
            <li>本プログラムのサービスへのアクセスをユーザーに提供するにあたり、EXOSと契約したユーザーの雇用者または関係者との契約に基づき、EXOSの業績を示すため</li>
            <li>本プログラムに関連する問題についてユーザーと連絡をとるため</li>
        </ul>

        <p>
            <strong>第三者との個人特定情報の共有</strong>　本ポリシーに定めがある場合またはユーザーの特段の合意がある場合を除き、EXOSは、本プログラムを通じてユーザーから収集したいかなる個人特定情報も開示することはない。ユーザーは、本ポリシーと適用法（個人情報保護法を含む。以下同じ。）に従い、ユーザーの個人特定情報の処理または保存を支援するEXOSの関連会社または第三者サービスにとの間でEXOSがユーザーの個人特定情報をEXOSによる個人特定情報の収集目的達成のために共有できることに同意する。EXOSは、個人特定情報をそのような第三者と共有する場合、個人特定情報を保護する適切な防衛手段を確保すべく対策を講ずる。
        </p>

        <p>
            現在EXOSは、Amazon Web Services LLCまたはその関連会社が管理するサーバーに多くの個人特定情報を保存している。EXOSは、個人情報の提供先である関係者に対して、適用される現地法、国法、地域法または国際法を遵守するように求める。Amazon Web Services LLCは、ユーザーの個人特定情報にアクセスしない。
        </p>

        <p>
            EXOSは、（適用法で認められる限り）以下の状況で個人特定情報を開示する場合がある。
        </p>

        <ul>
            <li>情報の共有または開示が必要なEXOSからのサービスをユーザーが求めた場合、および当該サービスのために共有や開示をユーザーが許可した場合（注記－これらのサービスの実施または提供に必要な情報の共有または開示の要求に対してユーザーが同意を拒否した場合は、特定のサービスを十分活用できないことがある）、さらにEXOSの合理的な判断に基づき、EXOSの社内規程遵守のため、もしくは本プログラム、顧客その他を保護するために開示が必要な場合</li>
            <li>合併、再編、法の適用、またはEXOSの資産の一部または全体の譲渡を通じてEXOSの組織の全体または一部を買収する他の事業体に対して開示する場合</li>
            <li>個人の生活、身体的な安全性または資産を脅かす緊急事態において、そのような合意を得ることが過剰な負担を生じさせる場合</li>
            <li>EXOSの弁護士に対して開示する場合、およびEXOSは、訴訟その他の手続に関連して管轄権を有する裁判所またはその他の政府当局が要求した場合（裁判所の命令または召喚に応じる場合などを含むが、これらに限定されない）、ユーザーの情報を利用するまたは開示することができる。ただし、それら利用または開示について、EXOSは、ユーザーの情報を開示する前にこのような要求の正当性を検証するための合理的な対策を講じた上で、その要求に応ずるために必要な最小限の情報を開示するものとする。</li>
        </ul>

        <p>
            <strong>集計した匿名情報をどのように利用するか。</strong>　本プログラムのユーザーとその他の参加者がEXOSと共有する情報について、EXOSは、さらに集計して分析、利用、報告を行うことができる。この集計情報（以下「集計データ」という）は、ユーザーその他の本プログラム参加者を個別に特定できないため、匿名化された非個人特定情報の一種である。
        </p>

        <p>
            EXOSは、この集計データ（またはその一部分）を、EXOSの関連会社、エージェント、ビジネスパートナー、ユーザーの雇用者、または本プログラムのサービスへのアクセスをユーザーに提供する関係者と共有することができる。EXOSは、現在および将来見込まれるクライアントその他の第三者にEXOSのサービスについて説明するために、および他の合法的な目的のために、当該集計データを開示する場合もある。こうした利用の例として、フィットネス・センターの登録会員数、運用時間に基づく利用データ、サービスおよび機器の種類、顧客調査スコアおよび運動の成果データ等があるが、これらに限定されない。
        </p>

        <p>
            <strong>EXOSにユーザーの個人特定情報の利用を停止させる、または個人特定情報が第三者と共有されないように求める「オプトアウト」のやり方</strong>　ユーザーは、EXOSに対して、個人特定情報の利用や収集を停止すること、今後ユーザーの非個人特定情報を収集しないようにすること、または本契約に記載される第三者または過去にユーザーが許可した第三者とユーザーの情報を共有しないよう要求することができる。このような要求は、フィットネスまたはパフォーマンス・センターの管理スタッフメンバー宛てに書面で、または<a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>宛ての電子メールで行うものとする。ユーザーからこのような「オプトアウト」の要求を受け取った後、EXOSは、その要求に対処し、ユーザーは、オプトアウトが完了した旨、および（本ポリシーに規定の、または過去にユーザーが許可していた方法での）EXOSが個人特定情報の利用・収集・共有を停止した旨の確認メールを受け取る。さらにこの確認メールで、オプトアウト後にユーザーが使用する予定のサービスに関連してEXOSへの非個人特定情報の提供を回避する方法について説明し、提案するものとする。
        </p>

        <p>
            <strong>ユーザーがオプトアウトしたことにより、EXOSの個人特定情報の使用や収集が停止し、かつ、非個人特定情報の収集を今後やめることになる場合、またはユーザーが求めるサービスを提供するために必要なユーザー情報を第三者と共有できなくなる場合、ユーザーによるサービスへのアクセスは、大幅に制限されるか利用できなくなることがある。ただし、そのような制限、または当該サービスを利用できないもしくはアクセスできないことは、本ポリシー、利用規約、その他EXOSと交わす合意に対する違反とならないことにユーザーは留意する。</strong> 例えば、ユーザーが個人特定情報を共有しないことにした場合、アクセスバッジ（該当する場合）は機能せず、カスタマイズ・エクスペリエンスをユーザーに提供するために個人特定情報またはログインを要求するパフォーマンス・センターのサービスを利用できなくなる。このような要求は、JourneyへのアクセスおよびJourneyに保存されるあらゆるデータへのアクセスを失わせることがある。
        </p>

        <p>
            EXOSによる個人特定情報の今後の利用や収集をユーザーが停止し、非個人特定情報も今後収集しないようにした場合であっても、EXOSは、以下を行うことができる。(i) 本サービスを利用するために登録したユーザーのフルネームおよび日付を保持する。(ii) 既に集計データセットの一部となっているデータ、または非個人特定情報として既に収集されたデータの利用を継続する。(iii) 過去にユーザーから収集した情報で、個人特定情報をEXOSと共有しない旨をEXOSに通知した時点でEXOSが匿名化しているものの利用を継続する。
        </p>

        <p>
            ユーザーの雇用者または組織とのEXOSの契約が終了した後、または本プログラムのサービスをユーザーに提供するためにEXOSと契約した関係者との契約が終了した後、EXOSは、個人特定情報の利用や収集を停止する。ただし、（法で認められる限り）以下を行うことができる。(i) 本サービスを利用するために登録したユーザーのフルネームと日付を保持する。(ii) 既に集計データセットの一部となっているデータ、または非個人特定情報として収集されたデータの利用を継続する。(iii) 過去にユーザーから収集した情報で、本ポリシーで規定されているとおりEXOSが匿名化する情報の利用を継続する。
        </p>

        <p>
            セキュリティ　EXOSは、ユーザーから収集する情報のセキュリティ保護を行う。EXOSは、ユーザーから収集した情報のセキュリティ維持とプライバシー保護のために、インターネットで移送中および保管中の個人特定情報の暗号化など、商業的に合理的な防御策を維持する。ユーザーがEXOSのネットワークで情報を送信する場合、ブラウザセッションを終了してからユーザーがコンピューターから離れることをEXOSは推奨する。これらの保護策をとったとしても、EXOSは、インターネットで送信されるデータのセキュリティは保証できない。情報がEXOSに届いた後、その情報は電子的に保存され（または書面、電話もしくは直接情報を受け取る場合には物理的に保管され）、適用法および政府機関の指令などを含んだ適用のある業界標準（これらは権限のない第三者による合理的に予見可能な侵入をブロックするように考案されている）を遵守し、かつ、適合している手続やテクノロジーを通じて保護される。さらに、本プログラムを通じてEXOSが提供する一定のコンテンツ、情報、製品およびサービスにアクセスするために、ユーザーは、特定の情報を提供し、アクセス（またはログイン）する際のユーザー名とパスワードを作成して登録するように求められる。ユーザーは、ユーザー名とパスワードの機密保持に責任を有する。ユーザーは、ユーザー名とパスワードの利用に責任を負うものとする。ユーザー名またはパスワードの不正使用に気付いた場合、またはその疑いがある場合、ユーザーは、直ちに、現地のフィットネスまたはパフォーマンス・センターの管理者に通知する、またはEXOSの<a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>宛てにメール送信することに同意する。
        </p>

        <p>
            <strong>個人特定情報の完全性、アクセス、保持</strong><br>
            EXOSは、本プログラムの参加によって得られる最大の利益をユーザーに提供するために、ユーザーに関する正確な最新情報の収集と保持に努める。個人情報についてユーザーから要求を受け取った場合、EXOSは、明確に返答する。ユーザーには、EXOSが保持するユーザーに関する個人特定情報のアクセスまたは修正に関する以下の権利がある。
        </p>

        <ul>
            <li>ユーザーは、EXOSが保持するユーザーの個人特定情報へのアクセス、複製、更新もしくは修正、または不正確な個人特定情報の削除を求める場合、フィットネスまたはパフォーマンス・センターの管理スタッフメンバー宛てに要求を書面にて行う。この要求は、EXOSの個人特定情報保護管理責任者<a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>宛てに電子メールで送ることもできる。EXOSは、ユーザーがそのような要求を行う資格があるか、その証拠を求めるものとする。ユーザーは、要求書に明確にその要求内容を記載する。ユーザーは、個人特定情報の存在、利用および開示についてEXOSが説明できるだけの十分な情報を提供するよう求められる場合がある。EXOSは、できる限り迅速にユーザーの要求に対応する。法律または裁判所の命令により要求または許可されているという状況にある場合、EXOSは、そのような情報へのアクセスを拒否することができる。ユーザーの要求の全体または一部が拒絶された場合、EXOSは、理由を説明し、有効な手段を確認するものとする。</li>

            <li>ユーザーは、パフォーマンス・センターの管理スタッフと共にすみやかに情報の修正または更新を行うようにする。EXOSが保有する個人特定情報の正確性または完全性に疑いがあるとの疑問がユーザーからあがった場合、EXOSは、ユーザーの要求およびユーザーから提供された情報を見直し、その情報が不十分であることが判明した場合ときにはその情報を修正または改正し、要求に同意できないときにはEXOSの検討結果を説明する。管理職員が支援できない場合、EXOSの個人特定情報保護管理担当者<a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>に連絡し、支援を求めることができる。</li>

            <li><strong>情報の保持</strong>　EXOSは、ユーザーからの情報収集目的に必要な限りにおいて、または法の要請に従い、個人特定情報を保持する。保持する理由については、本ポリシーで開示する。</li>
        </ul>

        <p>
            <strong>本ポリシーの変更</strong>　本ポリシーは、事前通知の有無を問わず適宜変更することができるが、現行の適用法に準拠するものとする。また、EXOSがユーザーについて既に入手している情報を含むがそれらに限定されないすべての情報について、即座に（変更を）反映するものとする。本ポリシーの重大な変更が個人特定情報の取り扱い方に影響を及ぼす場合、EXOSは、その旨をユーザーに通知するよう試みる。ユーザーは、フィットネスまたはパフォーマンス・センターのスタッフメンバーを通じて、または、<a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>にメールを送信することにより、最新の本ポリシーの写しを入手することができる。
        </p>

        <p>
            <strong>EXOSの連絡窓口</strong><br>
            本ポリシーまたは個人特定情報の利用に関する質問がある場合は、以下の宛先に問い合わせる。
        </p>

        <p>
            <strong>担当者に直接問い合わせる場合－</strong> 会員登録しているフィットネスまたはパフォーマンス・センターの管理者に連絡する。
        </p>

        <p>
            <strong>電子メールの場合－</strong> EXOSの個人特定情報保護管理責任者（<a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>）宛てにメールを送信する。
        </p>

        <ul class="vcard">
            <li class="org">CP International, LLC</li>
            <li>Attn: Garrett D. Felix, Privacy Officer</li>
            <li>c/o EXOS</li>
            <li class="street-address">2629 E. Rose Garden Lane</li>
            <li class="locality">Phoenix, <span class="state">AZ</span> <span class="zip">85050</span> <span class="country">USA</span></li>
        </ul>

        <p>
            <strong>紛争解決</strong><br>
            EXOSは、ユーザーのプライバシーおよび個人特定情報の収集または利用に関する苦情の解決に努める。プライバシーに関する心配、紛争、またはユーザーが納得のいかない疑問についてパフォーマンス・センターの管理者が対処できない場合、その詳細を文書にまとめてEXOSの個人特定情報保護管理責任者に連絡する。
        </p>

        <p>
            メールの送信先－ <a href="mailto:privacy@teamexos.com">privacy@teamexos.com</a>
        </p>

        <ul class="vcard">
            <li class="org">CP International, LLC</li>
            <li>Attn: Garrett D. Felix, Privacy Officer</li>
            <li>c/o EXOS</li>
            <li class="street-address">2629 E. Rose Garden Lane</li>
            <li class="locality">Phoenix, <span class="state">AZ</span> <span class="zip">85050</span> <span class="country">USA</span></li>
        </ul>

        <p>
            本プログラムまたは本ポリシーに起因または関連して生ずる紛争については、東京地方裁判所を専属的合意管轄裁判所とする。
        </p>

    </div>
</div>