---
title: Terms of Service
---
<div id="TOS"></div>

<script>
    var request = new XMLHttpRequest();
    request.onreadystatechange = function () {
        if (request.readyState === XMLHttpRequest.DONE &&
            request.status === 200) {
            document.getElementById('TOS').innerHTML = request.response
        }
    };
    request.open('GET', '/terms-of-service/adidas/US/', true);
    request.send();
</script>